<nav class="navbar">
  <ul class="nav-list">
    <li><a routerLink="/">Home</a></li>
    
    <ng-container *ngIf="role === 'ADMIN'">
      <li><a routerLink="/usuarios">Gestión de Usuarios</a></li>
      <li><a routerLink="/roles">Gestión de Roles</a></li>
      <li class="dropdown">
        <a routerLink="/ambientes">Gestión de Ambientes</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/ambientes/activos">Gestión de Activos</a></li>
          <li><a routerLink="/ambientes/traslados">Gestión de Traslados</a></li>
        </ul>
      </li>
      <li><a routerLink="/reportes">Reportes</a></li>
    </ng-container>
    
    <ng-container *ngIf="role === 'INSTRUCTOR'">
      <li><a routerLink="/activos">Gestión de Activos</a></li>
      <li><a routerLink="/traslados">Gestión de Traslados</a></li>
    </ng-container>
    
    <ng-container *ngIf="role === 'ALMACEN'">
      <li><a routerLink="/activos">Gestión de Activos</a></li>
      <li><a routerLink="/traslados">Gestión de Traslados</a></li>
    </ng-container>
    
    <ng-container *ngIf="role === 'VIGILANTE'">
      <li><a routerLink="/reportes">Reportes</a></li>
    </ng-container>
    
    <li *ngIf="role"><a (click)="logout()">Cerrar Sesión</a></li>
  </ul>
</nav>